.searchForm{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.searchField{
    min-width: 150px;
    flex-grow:1;
}

.filterComp{
    font-family: Helvetica, sans-serif;
}

.MuiAccordionSummary-expandIconWrapper{
    color: white !important;
}

