.searchForm{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.searchField{
    min-width: 150px;
    flex-grow:1;
}

.filterComp{
    font-family: Helvetica, sans-serif;
}

.MuiPaper-root{
    background-color: #4f4f4f !important;
    color: white !important;
}

.MuiPaper-root{
    background-color: rgb(66, 66, 66) !important;
}

.MuiAccordionSummary-expandIconWrapper{
    color: white !important;
}

