.averageRating{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
}

.starIcon{
    color: orange;
}

.ratingSystem{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
