.commentCard{
    display: flex;
}
.commentPicInfo{
    display: flex;
    align-items: center;
}
.comment{
    padding: 5px;
    width: 270px;
}

.commentHeader{
    display: flex;
    justify-content: space-between;
}

.usersAvatar{
    width: 32px !important;
    height: 32px !important;
    align-self: flex-start;
    margin: 18px 10px 0 10px;
}

.commentHeader p{
    font-size: 12px;
}

.contentOfComment{
    word-wrap: break-word;
    margin-top: 5px;
}

.divider{
    background-color: orange !important;
}

.deleteButton{
    color: #fc2803;
}