.profileHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.profilePicture{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 15px;
}

.profileButtons{
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.profileText{
    font-family: Comic Sans MS, serif;
}

.profilePicInfo{
    display: flex;
    align-items: center;
}

.profileName{
    font-size: 30px;
    margin: 10px 0 10px 0;
}


.profileInfo{
    font-size: 15px;
    margin: 10px 0 10px 0;
}

.selectListBar{
    display: flex;
    justify-content: space-around;
}

.MuiButtonBase-root {
    color: white !important;
}
.MuiTabs-indicator{
    background-color: orange !important;
}