body, html{
    height: 100%;
}

body{
    background-image: url("./assets/backgrounds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pages{

}

.emptyIcon{
    color: #d2d0d0;
}

.MuiSelect-icon{
    color: white !important;
}

.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
}

.MuiList-root{
    background-color: #232323;
    color: #d2d0d0;
}

.MuiList-padding {
    padding: 0 !important;
}

.MuiInputLabel-root {
    color: white !important;
}

.MuiInputBase-input{
    color: white !important;
}

.MuiPaper-root{
    background-color: rgba(0, 0, 0, 0.63) !important;
    color: white !important;
}